* {
  margin: 0;
}
.siderBar {
  display: flex;
  flex-direction: column;
  padding-top: 15%;
}

.siderItems :hover {
  background-color: rgb(221, 230, 230);
  border-radius: 5px;
  cursor: pointer;
}

.siderItems svg {
  width: 28px;
  height: 48px;
  padding-left: 8px;
  padding-right: 8px;
}

.avatar {
  position: absolute;
  padding-left: 1%;
  bottom: 15px;
}
.avatar img {
  filter: brightness(100%);
}

.avatar img:hover {
  filter: brightness(90%);
}
