.ChatHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
  padding: 10px;
  position: static;
  height: 40px;
  width: calc(100% - 20px);
}

.user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user img {
  height: 92px;
  width: 92px;
}

.messengers {
  height: calc(100vh - 120px);
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1%;
}
.message {
  display: flex;
  gap: 20px;
}
.messageInfo {
  display: flex;
}

.messageInfo img {
  height: 28px;
  width: 28px;
  border-radius: 50%;
  object-fit: cover;
}

.owner {
  display: flex;
  flex-direction: row-reverse;
}
