* {
  margin: 0;
}

.formContainer {
  background-color: #333333;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  align-items: center;
  gap: 20px;
}
.formWrapper img {
  height: 92px;
  width: 92px;
}

.formWrapper .title {
  color: #787878;
}

p:link {
  color: #61dafb;
}
